@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

/* shared style start */
.display-flex{
    display: flex;

}
.section-gap{
    margin: 120px auto;
}
.orange-color{
    color: rgba(233, 90, 8, 1);
}

.black{
    color: #000000;
}

.light-gray{
    color: #8987A1;
}

.deep-gray{
    color: rgba(0, 0, 0, 0.5);
}
.btn{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(233, 90, 8, 1);
    padding: 19px 80px;
    border: none;
}

.container{
    width: 1140px;
    margin: 0px auto;
}


/* shared style end */


/* navbar style start */

.navbar{
    margin: 30px auto;
}

.nav-container{
    justify-content: space-between;
    align-items: center;

    
}

.nav-items-list{
    list-style: none;

}
.nav-items-list a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
}
.nav-items-list{
    gap: 48px;
    
}

.nav-item .home{
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

/* navbar style end */

/* Banner section Style start */

.banner{
    justify-content: center;
    align-items: end;
    
}
.banner-text{
    max-width: 585px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
}
.banner-description{
    font-size: 1.4rem;
    
}

.hero-banner .hero-img{
    width: 100%;
}

/* Banner section Style End */

/* Our Plant section Style start */

.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card-img{
    width: 100%;
}
.our-plants{

    text-align: center;  

}

.our-plants-title{
    font-size: 3rem;
    font-weight: 800;
}
.our-plants-description{
    font-size: 1.25rem;
    margin-bottom: 50px;
}
.flower-name{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 30px;
}
.price{
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 30px;
}


/* Plants Lover section style start*/
.plant-lover-container{
    justify-content: center;
    align-items: center;
    gap: 60px;

    margin-top: 230px;
}

.badge-position{
    position: relative;
}

.badge-img{
    position: absolute;
    height: 248px;
    width: 248px;
    margin: 0 auto;
    left: 400px;
    top: -100px;
    z-index: 1;
    
}

.lover-reviews{
    box-sizing: border-box;
    width: 540px;
    padding: 30px;
}
.plant-lover-title{
    font-size: 3.1rem;
    font-weight: 800;
}
.review{
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.lover-img{
    width: 100%;
    
}

/* Latest Deal section style start*/
.deal-cards-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    
}
.small-card1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/deal-bloom.png);
    padding: 60px;
    grid-column: 1 / 2;
    color: white;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}
.latest-deal-text{
    text-align: center;
    margin: 120px auto;
}

.deal-title{
    font-size: 3rem;
    font-weight: 800;
}
.deal-description{
    font-size: 1.3rem;
    font-weight: 400;
}

.small-card2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/deal-ana.png);
    grid-column: 1 / 2;
    padding: 60px;
    color: white;
     background-position: center;
    background-size: cover;
    border-radius: 12px;
}
.large-card{
    
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/deal-zabo.png);
     grid-column: 2 / 3;
     grid-row: 1 / 3;
     color: white;
     padding: 172px;
      background-position: center;
    background-size: cover;
    border-radius: 12px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-card{
    text-align: center;
}
.text-card .type{
    font-size: 1.25rem;
    font-weight: 800;

}
.text-card .link{
    color: white;
    text-align: center;
    display: block;
    font-size: 1rem;
    font-style: 600;
    text-decoration: underline;

}
.text-card .large{
    font-size: 2.5rem;
    font-weight: 800;
    text-wrap: nowrap;
}
.text-card .large-link{
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    
    
    
}


/* Latest Deal section style End*/

/* Join section Style Start */
.join-container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 305px;
    margin: 120px auto;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
}
.join-title{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    
}
.email{
    padding: 19px 540px 19px 20px;
    display: block;
    border: none;
    
}
/* Join Section End */
/* Footer Section Start */
/* Responsive Media Query  Start*/
@media screen and (max-width:576px){
  
    .container{
    max-width: 100%;
    padding: 0 20px;
}
    /* navbar responsiv */
    .nav-items-list .nav-item{
        display: none;
    }



    /* banner responsive */
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-text{
    width: 100%;
}
.banner-title{
    font-size: 2rem;
    font-weight: bold;   
}

/* cards responsive */
.container{
    max-width: 100%;
    padding: 0 20px;
}
.cards-container{

    grid-template-columns: repeat(2, 1fr);
}
.btn{
    text-wrap: nowrap;
}


/* Plants Lover */
.badge-image{
    display: none;
}
.lover-reviews{
    width: 100%;
}
.plant-lover-container{
    flex-direction: column;
}

/* Latest Deal */
.deal-cards-container{
   grid-template-columns: 1fr;
   

}
.small-card1{
    order: 1;
}
.small-card2{
    order: 2;
}
 .large-card{
    order: 3;
    grid-column: auto;
    grid-row: auto;
     padding: 60px;
}

/* join section */
.join-container{
    width: 100%;
    padding: 100px 32px;
}
.join-title{
    font-size: 2rem;
}
.form {
    flex-direction: row;
    width: 10%;
}
.email{
padding: 0 90px 0 20px;;
}
}




