@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



*{
    margin: 0px;
    padding: 0px;
}

/* shared style start */
.display-flex{
    display: flex;

}

.orange-color{
    color: rgba(233, 90, 8, 1);
}

.black{
    color: #000000;
}

.light-gray{
    color: #8987A1;
}

.deep-gray{
    color: rgba(0, 0, 0, 0.5);
}
.btn{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgba(233, 90, 8, 1);
    padding: 19px 80px;
    border: none;
}

main{
    margin: 120px auto;
}


/* shared style end */


/* navbar style start */

.navbar{
    margin: 30px auto;
}

.nav-container{
    justify-content: center;
    align-items: center;
    gap: 590px;
}

.nav-items .nav-item{
    list-style: none;

}
.nav-items a{
    text-decoration: none;
}
.nav-items-list{
    gap: 48px;
    
}

.nav-item .home{
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

/* navbar style end */

/* Banner section Style start */

.banner{
    justify-content: center;
    align-items: end;
    
}
.banner-text{
    max-width: 585px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 800;
}
.banner-description{
    font-size: 1.4rem;
    
}

.hero-banner .hero-img{
    width: 100%;
}

/* Banner section Style End */

/* Our Plant section Style start */

.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card-img{
    width: 100%;
}
.our-plants{

    text-align: center;
    justify-items: center;
   

}

.our-plants-title{
    font-size: 3rem;
    font-weight: 800;
}
.our-plants-description{
    font-size: 1.25rem;
    margin-bottom: 50px;
}
.flower-name{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 30px;
}
.price{
    font-size: 1.4rem;
    font-weight: 800;
    margin-top: 5px;
    margin-bottom: 30px;
}


/* Plants Lover section style start*/
.plant-lover-container{
    justify-content: center;
    align-items: center;
    gap: 60px;

    margin-top: 230px;
}

.badge-position{
    position: relative;
}

.badge-img{
    position: absolute;
    height: 248px;
    width: 248px;
    margin: 0 auto;
    left: 400px;
    top: -100px;
    z-index: 1;
    
}

.lover-reviews{
    box-sizing: border-box;
    width: 540px;
    padding: 30px;
}
.plant-lover-title{
    font-size: 3.1rem;
    font-weight: 800;
}
.review{
    font-size: 1.4rem;
    margin-bottom: 20px;
}
.lover-img{
    width: 100%;
    
}











/* Responsive Media Query  Start*/
@media screen and (max-width:576px){
   
    /* navbar responsiv */
    


    /* banner responsive */
    .banner{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .banner-text{
    width: 370px;
}
.banner-title{
    font-size: 2rem;
    font-weight: bold;   
}

/* cards responsive */
.cards-container{
    grid-template-columns: repeat(2, 1fr);
}

.btn{
    text-wrap: nowrap;
}


/* Plants Lover */
.badge-image{
    display: none;
}
.plant-lover-container{
    flex-direction: column;
}







}

